@charset "UTF-8";
/* ========================================
 * foundation
 ======================================= */
html {
  font-size: 62.5%; }

body {
  font-size: 14px;
  line-height: 1.7; }

iframe {
  max-width: 100%; }

img {
  max-width: 100%;
  height: auto; }

p {
  margin-top: 0;
  margin-bottom: 1.5em; }

/* ========================================
 * layout
 ======================================= */
#header .container {
  position: relative; }

#header .global-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; }

#footer {
  background-color: #F9F9F9;
  margin-top: 30px;
  padding: 20px 0; }

/* ========================================
 * objects
 ======================================= */
.wp-badge:before {
  content: '';
  display: inline-block;
  height: 26px;
  width: 26px;
  overflow: hidden;
  vertical-align: top; }

.wp-badge--speaker:before {
  background-image: url("../../images/wp-badges/speaker.png"); }

.wp-badge--community:before {
  background-image: url("../../images/wp-badges/community.png"); }

.wp-badge--theme:before {
  background-image: url("../../images/wp-badges/theme.png"); }

.wp-badge--plugin:before {
  background-image: url("../../images/wp-badges/plugin.png"); }

.wp-badge--translation:before {
  background-image: url("../../images/wp-badges/translation.png"); }

.btn-register {
  background-color: #B41426;
  border-radius: 30px;
  color: #fff;
  font-size: 21px;
  padding: 10px 80px; }
  .btn-register:hover, .btn-register:active, .btn-register:focus {
    background-color: #BF1931;
    color: #fff; }

.global-nav {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7rem; }
  .global-nav__list {
    list-style: none;
    margin: 0 -2px;
    padding: 0;
    overflow: hidden; }
  .global-nav__item {
    background-image: url("../../images/global-nav/item.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    float: left;
    margin: 0;
    padding: 0 2px 10px;
    width: 104px; }
  .global-nav__icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    height: 55px;
    width: 100%;
    overflow: hidden; }
    .global-nav__icon--about {
      background-image: url("../../images/global-nav/about.png"); }
    .global-nav__icon--content {
      background-image: url("../../images/global-nav/content.png"); }
    .global-nav__icon--speaker {
      background-image: url("../../images/global-nav/speaker.png"); }
    .global-nav__icon--timeline {
      background-image: url("../../images/global-nav/timeline.png"); }
    .global-nav__icon--location {
      background-image: url("../../images/global-nav/location.png"); }
    .global-nav__icon--contact {
      background-image: url("../../images/global-nav/contact.png"); }
  .global-nav a {
    background-color: #000;
    color: #fff;
    display: block;
    margin-top: -55px;
    padding: 5px 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transition: margin 0.2s; }
    .global-nav a:hover, .global-nav a:active, .global-nav a:focus {
      color: #fff;
      margin-top: 0;
      text-decoration: none; }

.main-visual {
  background-image: url("../../images/main-visual/back.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  color: #fff;
  height: 680px;
  overflow: hidden;
  text-align: center;
  position: relative; }
  .main-visual__inner {
    /* TODO: 位置調整 */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .main-visual__logo {
    line-height: 1;
    margin: 0 0 1rem; }
  .main-visual__copy {
    font-size: 2.2rem;
    font-weight: normal;
    margin: 0 0 7rem; }
  .main-visual__date {
    font-size: 2.8rem;
    line-height: 1.4; }
    .main-visual__date small {
      font-size: 2.2rem; }
  .main-visual__price {
    font-size: 1.8rem;
    margin: 0 0 0.8rem; }
    .main-visual__price strong {
      font-size: 2.8rem;
      font-weight: normal; }
  .main-visual__place {
    font-size: 1.8rem;
    margin: 0 0 3rem; }

.section {
  padding-top: 55px; }
  .section__title {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4rem;
    font-weight: normal;
    margin: 0 0 20px;
    text-align: center; }
    .section__title img {
      display: block;
      margin: 0 auto 10px; }
  .section__content {
    background-color: #F9F9F9;
    padding: 80px; }

.about__line {
  font-size: 3.2rem;
  font-weight: normal;
  margin: 0 0 1em;
  text-align: center; }

.about__subtitle {
  font-size: 2.1rem;
  font-weight: normal;
  margin: 0 0 1.5em;
  text-align: center; }

.about__message {
  font-size: 1.6rem; }
  .about__message :last-child {
    margin-bottom: 0; }
  .about__message big {
    font-size: 2.1rem; }

.points {
  text-align: center; }
  .points__item {
    margin-bottom: 30px; }

.content-item__media {
  margin: 0 0 2rem;
  text-align: center; }

.content-item__title {
  font-size: 2.1rem;
  font-weight: bold;
  margin: 0 0 1rem;
  text-align: center; }

.content-item__body {
  font-size: 1.6rem; }
  .content-item__body :last-child {
    margin-bottom: 0; }

.speakers .row {
  margin-right: -5px;
  margin-left: -5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .speakers .row > div {
    padding-right: 5px;
    padding-left: 5px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .speakers .row :nth-child(3n+1) {
    clear: both; }

.speaker {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  padding: 20px 15px;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }
  .speaker__media {
    margin: 0 auto 1.5rem;
    text-align: center; }
    .speaker__media .person {
      height: 170px;
      width: 170px; }
  .speaker__name {
    font-weight: bold;
    font-size: 2.1rem;
    margin: 0 0 1rem;
    text-align: center; }
  .speaker__badges {
    margin: 0 0 1rem;
    text-align: center; }
    .speaker__badges .wp-badge {
      margin: 0 2px; }
  .speaker__tweet {
    margin-top: 5rem;
    position: relative; }
    .speaker__tweet-title {
      background-color: #00b9d4;
      border-radius: 100%;
      color: #fff;
      font-size: 12px;
      margin: 0;
      padding: 7px 10px;
      position: absolute;
      top: -35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
      .speaker__tweet-title:after {
        content: '';
        border-top: 5px solid #00b9d4;
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        position: absolute;
        bottom: -5px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }

.person {
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block;
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 100%; }

.person-conti {
  background-image: url("../../images/speakers/conti.jpg"); }

.person-fukazawa {
  background-image: url("../../images/speakers/fukazawa.jpg"); }

.person-hide {
  background-image: url("../../images/speakers/hide.png"); }

.person-ishikawa {
  background-image: url("../../images/speakers/ishikawa.jpg"); }

.person-kitajima {
  background-image: url("../../images/speakers/kitajima.jpg"); }

.person-mignon {
  background-image: url("../../images/speakers/mignon.png"); }

.person-moriyama {
  background-image: url("../../images/speakers/moriyama.jpg"); }

.person-oohara {
  background-image: url("../../images/speakers/oohara.jpg"); }

.person-torounit {
  background-image: url("../../images/speakers/torounit.png"); }

.timeline__body {
  overflow: hidden; }

.timeline__item {
  margin-top: -140px;
  width: 50%;
  position: relative; }
  .timeline__item:first-child, .timeline__item:last-child {
    margin-top: 0; }
  .timeline__item:nth-child(2) {
    margin-top: -40px; }
  .timeline__item .session {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2.2rem;
    padding: 20px;
    position: relative; }
    .timeline__item .session__division {
      margin: 0 0 1em;
      overflow: hidden; }
      .timeline__item .session__division:last-child {
        margin-bottom: 0; }
      .timeline__item .session__division--talk .session__title {
        background-color: #0370CC; }
      .timeline__item .session__division--talk .session__body {
        font-size: 1.4rem; }
    .timeline__item .session__title {
      background-color: #0D337A;
      color: #fff;
      font-size: 1.4rem;
      margin: 0 0 1rem;
      padding: 5px 10px; }
    .timeline__item .session__media {
      float: right;
      margin-left: 20px; }
      .timeline__item .session__media .person {
        height: 80px;
        width: 80px; }
    .timeline__item .session__body {
      font-size: 1.6rem; }
    .timeline__item .session__mc {
      float: right;
      margin-left: 20px;
      text-align: center;
      position: relative; }
      .timeline__item .session__mc:before {
        content: 'MC';
        display: inline-block;
        background-color: #3DB6D1;
        border-radius: 10px;
        color: #fff;
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        line-height: 1;
        padding: 4px 8px;
        position: absolute;
        top: -20px; }
  .timeline__item--left {
    float: left;
    padding-right: 60px; }
  .timeline__item--right {
    float: left;
    margin-left: 50%;
    padding-left: 60px; }

/**
 * セッションの高さをだいたい揃える
 */
.session {
  min-height: 300px; }
  .timeline__item:first-child .session, .timeline__item:last-child .session {
    min-height: 0; }

/**
 * 中央線
 */
.timeline__item:before {
  content: '';
  display: block;
  background-color: #000;
  width: 6px;
  position: absolute;
  top: 0;
  bottom: 0; }

.timeline__item--left:before {
  right: -3px; }

.timeline__item--right:before {
  left: -3px; }

/**
 * 玉
 */
.timeline__item:after {
  content: '';
  display: block;
  background-color: #fff;
  height: 22px;
  width: 22px;
  border: 5px solid #000;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }

.timeline__item--left:after {
  right: -11px; }

.timeline__item--right:after {
  left: -11px; }

/**
 * 矢印
 */
.session:before, .session:after {
  content: '';
  display: block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.timeline__item--left .session:before {
  border-left: 10px solid #ccc;
  right: -10px; }

.timeline__item--left .session:after {
  border-left: 10px solid #fff;
  right: -9px; }

.timeline__item--right .session:before {
  border-right: 10px solid #ccc;
  left: -10px; }

.timeline__item--right .session:after {
  border-right: 10px solid #fff;
  left: -9px; }

.location .section__content {
  padding-right: 20px;
  padding-left: 20px; }

.location__item {
  margin-bottom: 1rem;
  overflow: hidden; }

.location__h {
  background-color: #0D337A;
  color: #fff;
  float: left;
  font-size: 1.6rem;
  font-weight: normal;
  margin-right: 10px;
  text-align: center;
  padding: 5px;
  width: 100px; }

.location__d {
  font-size: 1.8rem;
  padding-top: 3px;
  overflow: hidden; }

.location__date small {
  font-size: 1.4rem; }

.location__time {
  font-size: 1.6rem; }

.location__place-name {
  margin-bottom: 0.5rem; }

.location__address {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 4px; }

.location__traffic {
  font-size: 1.3rem;
  list-style: none;
  margin: 0;
  padding: 0; }
  .location__traffic li {
    margin: 0;
    padding: 0; }

.contact {
  padding-bottom: 30px;
  text-align: center; }
  .contact__message {
    margin-bottom: 1rem; }

.productionby {
  color: #444;
  margin-bottom: 2rem;
  text-align: center; }
  .productionby__title {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0 0 5px; }
  .productionby__list {
    font-size: 1.3rem;
    list-style: none;
    margin: 0;
    padding: 0; }
  .productionby__item {
    border-left: 1px solid #444;
    display: inline-block;
    line-height: 1;
    margin-right: -4px;
    padding: 0 20px; }
    .productionby__item:first-child {
      border-left: none; }

.copyright {
  font-size: 1.3rem;
  text-align: center; }

.pagetop {
  position: fixed;
  right: 10px;
  top: -300px;
  z-index: 2; }
