@charset "UTF-8";


.btn-register {
	background-color: #B41426;
	border-radius: 30px;
	color: #fff;
	font-size: 21px;
	padding: 10px 80px;

	&:hover, &:active, &:focus {
		background-color: #BF1931;
		color: #fff;
	}
}
