.contact {
	padding-bottom: 30px;
	text-align: center;
	
	&__message {
		margin-bottom: 1rem;
	}
	
	&__share {
		padding: 5rem 0 0;
		
		&, * {
			line-height: 1;
			vertical-align: top;
		}
		
		&-list {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		&-item {
			display: inline-block;
			margin: 0 5px;
			padding: 0;
		}
	}
}
