.global-nav {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.7rem;
	
	&__list {
		list-style: none;
		margin: 0 -2px;
		padding: 0;
		overflow: hidden;
	}
	
	&__item {
		background-image: url( '../images/global-nav/item.png' );
		background-position: 50% 100%;
		background-repeat: no-repeat;
		float: left;
		margin: 0;
		padding: 0 2px 10px;
		width: 104px;
	}
	
	&__icon {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		display: block;
		height: 55px;
		width: 100%;
		overflow: hidden;
		
		&--about {
			background-image: url( '../images/global-nav/about.png' );
		}
		
		&--content {
			background-image: url( '../images/global-nav/content.png' );
		}
		
		&--speaker {
			background-image: url( '../images/global-nav/speaker.png' );
		}
		
		&--timeline {
			background-image: url( '../images/global-nav/timeline.png' );
		}
		
		&--location {
			background-image: url( '../images/global-nav/location.png' );
		}
		
		&--contact {
			background-image: url( '../images/global-nav/contact.png' );
		}
	}
	
	a {
		background-color: #000;
		color: #fff;
		display: block;
		margin-top: -55px;
		padding: 5px 0;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		transition: margin 0.2s;
		
		&:hover, &:active, &:focus {
			color: #fff;
			margin-top: 0;
			text-decoration: none;
		}
	}
}
