@charset "UTF-8";


.global-nav {
	font-family: 'Quicksand', sans-serif;
	width: 100%;

	@include bp-min($screen-md-min) {
		width: auto;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	&__item {
		border-right: solid 1px #aaa;
		float: left;
		margin: 0;
		padding: 0;
		line-height: 1;
		overflow: hidden;
		text-align: center;
		width: 14.28571%;
		
		&:last-child {
			border-right: none;
		}

		@include bp-min($screen-sm-min) {
			border: none;
			background-image: url( '../images/global-nav/item.svg' );
			background-size: contain;
			background-position: 50% bottom;
			background-repeat: no-repeat;
			float: left;
			padding-bottom: 10px;
			margin-right: 0.65104%;
			width: 13.72768%;

			&:last-child {
				margin-right: 0;
			}
		}
		
		@include bp-min($screen-md-min) {
			margin-right: 5px;
			width: 100px;
		}
	}

	&__item-label {
		display: none;

		@include bp-min($screen-sm-min) {
			display: block;
			margin-bottom: 8px;
			font-size: 1.4rem;
		}
		
		@include bp-min($screen-md-min) {
			font-size: 1.6rem;
		}
	}

	.icon {
		height: 40px;
		width: 40px;
		margin-top: 3px;
		max-width: 100%;

		@include bp-min($screen-sm-min) {
			height: 60px;
			margin-bottom: -2px;
			width: 60px;
		}
	}

	a {
		background-color: #000;
		color: #fff;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		margin-top: 0;
		transition: margin 0.3s ease-in-out;

		@include bp-min($screen-sm-min) {
			margin-top: -55px;
		}

		&:hover, &:active, &:focus {
			color: #fff;
			margin-top: 0;
			text-decoration: none;
			
			@include bp-max($screen-xs-max) {
				background-color: #444;
			}
		}
	}
}
