@charset "UTF-8";


.icon {
	height: 80px;
	width: 80px;
	background-size: cover;
	background-position: 50% 50%;
	display: inline-block;
	overflow: hidden;

	&--about {
		background-image: url( '../images/icon/about.svg' );
	}

	&--content {
		background-image: url( '../images/icon/content.svg' );
	}

	&--speaker {
		background-image: url( '../images/icon/speaker.svg' );
	}

	&--timeline {
		background-image: url( '../images/icon/timeline.svg' );
	}

	&--location {
		background-image: url( '../images/icon/location.svg' );
	}

	&--contact {
		background-image: url( '../images/icon/contact.svg' );
	}

	&--entry {
		background-image: url( '../images/icon/entry.svg' );
	}
}
