.main-visual {
	background-image: url( '../images/main-visual/back.png' );
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 100vw auto;
	background-color: rgb( 0,34,67 );
	color: #fff;
	padding-top: 30px;
	padding-bottom: 15px;
	overflow: hidden;
	text-align: center;
	position: relative;
	
	@include bp-min($screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 20px;
	}
	
	@include bp-min($screen-md-min) {
		padding-top: 120px;
		padding-bottom: 30px;
	}

	&__inner {
	}

	&__logo {
		line-height: 1;
		margin: 0 auto 2rem;
		max-width: 80%;
		
		@include bp-min($screen-sm-min) {
			margin-bottom: 3rem;
		}
		
		@include bp-min($screen-md-min) {
			margin-bottom: 4.5rem;
		}
	}

	&__copy {
		display: none;
		font-weight: normal;
		font-size: 3rem;
		margin: 0 0 3rem;
		
		@include bp-min($screen-md-min) {
			margin-bottom: 4.5rem;
		}
		
		small {
			color: #fff;
			font-size: 2rem;
		}
		
		@include bp-min($screen-sm-min) {
			display: block;
		}
		
		@include bp-min($screen-md-min) {
			font-size: 3.6rem;
			
			small {
				font-size: 2.2rem;
			}
		}
	}

	&__date {
		font-size: 1.8rem;
		line-height: 1.4;

		small {
			font-size: 1.4rem;
		}
		
		@include bp-min($screen-sm-min) {
			font-size: 2.8rem;
			
			small {
				font-size: 2.2rem;
			}
		}
	}

	&__price {
		font-size: 1.4rem;
		margin: 0 0 0.3rem;

		strong {
			font-size: 1.8rem;
			font-weight: normal;
		}
		
		@include bp-min($screen-sm-min) {
			margin-bottom: 0.6rem;
			font-size: 1.8rem;
			
			strong {
				font-size: 2.8rem;
			}
		}
	}

	&__place {
		font-size: 1.4rem;
		margin: 0 0 2rem;
		
		@include bp-min($screen-sm-min) {
			font-size: 1.8rem;
		}
		
		@include bp-min($screen-md-min) {
			margin-bottom: 2.5rem;
		}
	}
	
	&__wapuu {
		position: absolute;
		top: 20px;
		right: 10px;
		width: 15%;
		animation-name: pagetop;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
}
