@charset "UTF-8";

.pagetop {
	display: none;
	opacity: 0;
	position: fixed;
	right: 20px;
	top: -100%;
	z-index: 2;
	transition: opacity 2s linear, top 2s ease-out;
	animation-name: pagetop;
	animation-duration: 2s;
	animation-iteration-count: infinite;

	@include bp-min($screen-sm-min) {
		display: block;
	}

	@include bp-min($screen-md-min) {
		right: 40px;
	}

	&.fade-in {
		opacity: 1;
	}
}

@keyframes pagetop {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, -10px);
	}
	100% {
		transform: translate(0, 0);
	}
}
