@charset "UTF-8";

.points {
	&__item {
		margin-bottom: 30px;
		
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			text-align: center;
		}
		
		@include bp-min($screen-lg-min) {
			text-align: center;
		}
	}

	&__media {
		border-radius: 100%;
		background-size: cover;
		background-position: 50% 50%;
		display: block;
		height: 150px;
		width: 150px;
		overflow: hidden;
		border-radius: 100%;
		background-color: #fff;
		margin: 0 auto 15px;

		&--01 {
			background-image: url('../images/about/point01.svg');
		}

		&--02 {
			background-image: url('../images/about/point02.svg');
		}

		&--03 {
			background-image: url('../images/about/point03.svg');
		}

	}

	&__body {
		text-align: center;
	}
}
