@charset "UTF-8";

.wp-badge {
	display: inline-block;
	height: 26px;
	width: 26px;
	line-height: 26px;
	font-size: 17px;
	font-family: 'dashicons';
	text-align: center;
	font-style: normal;
	color: #FFF;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
	padding-top: 1px;
	padding-left: 1px;

	&:before {
		content: '';
	}

	&--speaker {
		background-color: #F7AD43;
		&:before {
			content: "\f488";
		}
	}

	&--code {
		background-color: #cd0000;
		&:before {
			content: "\f475";
		}
	}

	&--community {
		background-color: #11799d;
		&:before {
			content: "\f307";
		}
	}

	&--theme {
		background-color: #4e3288;
		&:before {
			content: "\f100";
		}
	}

	&--plugin {
		background-color: #F06723;
		&:before {
			content: "\f106";
		}
	}

	&--translation {
		background-color: #C32283;
		&:before {
			content: "\f326";
		}
	}
}
