.wp-badge {
	display: inline-block;
	height: 26px;
	width: 26px;
	line-height: 26px;
	font-size: 16px;
	font-family: 'dashicons';
	font-style: normal;
	color: #FFF;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: top;

	&:before {
		content: '';
	}
	
	&--speaker {
		background-color: #F7AD43;
		&:before {
			content: "\f488";
			//background-image: url( '../images/wp-badges/speaker.png' );
		}
	}
	
	&--community {
		background-color: #11799d;
		&:before {
			content: "\f307";
			//background-image: url( '../images/wp-badges/community.png' );
		}
	}
	
	&--theme {
		background-color: #4e3288;
		&:before {
			content: "\f100";
			//background-image: url( '../images/wp-badges/theme.png' );
		}
	}
	
	&--plugin {
		background-color: #F06723;
		&:before {
			content: "\f106";
			//background-image: url( '../images/wp-badges/plugin.png' );
		}
	}
	
	&--translation {
		background-color: #C32283;
		&:before {
			content: "\f326";
			//background-image: url( '../images/wp-badges/translation.png' );
		}
	}
}
